.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-color:var(--card-bg);
  color: var(--text-color);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.product-card:hover {
  transform: translateY(-8px);
  border: 1px solid var(--btn-bg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}
.product-card:hover .product-img {
  transform: scale(1.05);
}
.product-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
  margin: 0.5rem 0;
}
.product-link {
  text-decoration: none;
  color: inherit;
}
.view-details-btn {
  margin-top: auto;
  background-color:var(--btn-bg);
  color: var(--btn-text);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 200px;
  text-align: center;
}
.product-card:hover .view-details-btn {
  transform: translateY(-2px);
}
.view-details-btn:hover {
  background-color: #0056b3;
}
.product-link:hover .product-name {
  text-decoration: underline;
  color: var(--btn-bg);
}
.product-tagline {
  font-size: 0.95rem;
  font-style: italic;
  color: #6c757d;
  margin: 0.25rem 0 0.75rem 0;
  line-height: 1.4;
  text-align: center;
}
.product-info {
  text-align: center;
  margin-top: 0.5rem;
  min-height: 60px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  height: 80px;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin:0;
  padding: 0;
  height: 50px;
  color: var(--text-color);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* max
   2 lines */
  -webkit-box-orient: vertical;
}

.product-name:hover {
  color: var(--btn-bg);
}

.product-price {
  font-size: 0.95rem;
  color: #28a745;
  font-weight: bold;
  margin-top: 0.25rem;
}




